{% extends '::base.html.twig' %}
{% block stylesheets %}
    <style type="text/css">
        .achievement {
            height: 50px;
            width: 50px;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Hi {{ user.username }} !</h1>
    <h3>You have <a href="{{ path('all_messages') }}">{{ nb_messages }} messages</a> unread.</h3>
    <h3>You have listen to <a href="{{ path('listened') }}">{{ nb_songs }} songs</a> since we know each others.</h3>
    <h3><a href="{{ path('stats') }}"> Want more stats ? :)</a></h3>
    <h3><a href="{{ path('genres') }}"> Even more ? :)</a></h3>
    <h4>I probably should create a profile page. Should I ?</h4>
    <h4>You thought you were <a href="{{ path('user_list') }}">alone</a> ? Really ?</h4>
    <div>
        {% for achievement in achievements %}
            <img class="achievement" src="{{ asset('images/achievements/'~achievement.achievement.imageUrl) }}" title="{{ achievement.achievement.name }}">
        {% endfor %}
    </div>
    <h6>Hosted in Montreuil. 9-3 RPZ. Thug Life !</h6>
{% endblock %}
