<style>
    .bar {
        position: absolute;
        top: 15px;
        left: 55px;
        height: 20px;
        width: 200px;
        background-color: darkred;
        color: white;
        line-height:initial;
    }
    .song {
        display: block;
        height: 50px;
        position: relative;
    }
    .song-picture {
        height: 50px;
        width: 50px;
        background-size: cover;
    }
</style>
<h3>
    Sort : <select title="sort-options" name="song-sort" class="song-sort">
        <option value="popularity" selected="selected">popularity</option>
        <option value="danceability">danceability</option>
        <option value="energy">energy</option>
        <option value="valence">valence</option>
        <option value="speechiness">speechiness</option>
        <option value="acousticness">acousticness</option>
        <option value="liveness">liveness</option>
        <option value="instrumentalness">instrumentalness</option>
        <option value="loudness">loudness</option>
        <option value="key">key</option>
        <option value="tempo">tempo</option>
    </select>
</h3>
<div class="top_songs">
    <h2>Your last songs</h2>
    {% for playedSong in playedSongs if  playedSong.song.stats != null and  playedSong.song.stats.popularity is defined %}
        <a class="song" title="{{ playedSong.song.name }}" target="_blank" href="{{ path('song', {'id': playedSong.song.id }) }}"
           data-danceability="{{ playedSong.song.stats.danceability }}"
           data-energy="{{ playedSong.song.stats.energy }}"
           data-valence="{{ playedSong.song.stats.valence }}"
           data-speechiness="{{ playedSong.song.stats.speechiness }}"
           data-acousticness="{{ playedSong.song.stats.acousticness }}"
           data-liveness="{{ playedSong.song.stats.liveness }}"
           data-instrumentalness="{{ playedSong.song.stats.instrumentalness }}"
           data-loudness="{{ playedSong.song.stats.loudness }}"
           data-key="{{ playedSong.song.stats.songKey }}"
           data-tempo="{{ playedSong.song.stats.tempo }}"
           data-popularity="{{ playedSong.song.stats.popularity }}"
        >
            <div class="song-picture" style="background-image: url('{{ playedSong.song.album.pictureUrl }}');"></div>
            <div class="bar">{{ playedSong.song.name }}</div>
        </a>
    {% endfor %}
</div>
<h2>Unclassified songs</h2>
{% for playedSong in playedSongs if  playedSong.song.stats == null or  playedSong.song.stats.popularity is not defined %}
    <a class="song" title="{{ playedSong.song.name }}" target="_blank" href="{{ path('song', {'id': playedSong.song.id }) }}">
        <div class="song-picture" {% if  playedSong.song.album.pictureUrl is defined %}style="background-image: url('{{ playedSong.song.album.pictureUrl }}');" {% endif %}></div>
        <div>{{ playedSong.song.name }}</div>
    </a>
{% endfor %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    function updateStats() {
        var dataname = $(".song-sort").val();
        $songs =  $(".top_songs");
        $songs.appendTo($songs);
        $('.top_songs').html($songs.html());
        var min = Math.min.apply(Math, $('.song').map(function() { return parseFloat($(this).data(dataname)); } ));
        var max = Math.max.apply(Math, $('.song').map(function() { return parseFloat($(this).data(dataname)); } ));
        $('.song').sort(function(a, b) {
            return parseFloat($(b).data(dataname)) - parseFloat($(a).data(dataname));
        }).appendTo($('.top_songs')).each( function ()  {
            var pcent = ( parseFloat($(this).data(dataname)) - min ) / (max - min);
            $(this).find(".bar").attr('title', $(this).data(dataname)).css('width', ( pcent * 600 + 200 )+"px")
                .css("background-color", 'rgb('+
                    parseInt( 255 - (pcent * 255) )+','+
                    parseInt( pcent * 255 )+','+
                    '0)'
                );
        });
    }
    $(".song-sort").on("change", function() {
        updateStats();
    });
    updateStats();

</script>
<a href="{{ path('homepage') }}">Return to index</a>