
<html>
<body>
<style>
        .pop {
                height: 10px;
                width: 10px;
                padding: 0px;
                border-radius: 50%;
                display: inline-block;
        }
        .artist {
                display: inline-flex;
        }
        a {
                text-decoration: none;
        }
        .images {
                position: relative;
                height: 150px;
                width: 150px;
                background-size: cover;
        }
        .title {
                color: white;
                background: rgba(0,0,0,0.5);
                padding: 5px;
                line-height:initial;
        }
        div {
                line-height:0;
        }
</style>
<h1> Favorite Artists </h1>
{% for artist in topArtists %}
        <a class="artist" title="{{ artist.name }}" target="_blank" href="{{ artist.external_urls.spotify }}">
                <div class="images" style="background-image: url('{{ artist.images.0.url }}');">
                        <div class="title">
                                <div title="{{ artist.popularity }}"  class="pop" style="background-color: rgb({{ ((100.0 - artist.popularity) * 2.55)|round }}, {{ (artist.popularity * 2.55)|round }}, 0)"></div>
                                {{ artist.name }}
                        </div>
                </div>
        </a>
{% endfor %}
<br>
<h1> Favorite Songs </h1>
{% for song in topSongs %}
        <a class="artist" title="{{ song.name }}" target="_blank" href="{{ song.external_urls.spotify }}">
                <div class="images" style="background-image: url('{{ song.album.images.0.url }}');">
                        <div class="title">
                                <div title="{{ song.popularity }}"  class="pop" style="background-color: rgb({{ ((100.0 - song.popularity) * 2.55)|round }}, {{ (song.popularity * 2.55)|round }}, 0)"></div>
                            {{ song.name }}
                        </div>
                </div>
        </a>
{% endfor %}
<br>
<a href="{{ path('homepage') }}">Return to index</a>
</body>
</html>
