{% extends '::base.html.twig' %}
{% block stylesheets %}
    <style>
        .bar {
            height: 20px;
            width: 200px;
            margin-left: 5px;
            background-color: darkred;
            line-height:initial;
            color: white;
        }
        .genre {
            display: block;
            position: relative;
            text-decoration: none;
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="top_genres">
    <h2>Your top genres</h2>
    {% for genre in genres %}
        <a class="genre" title="{{ genre.name }}" data-cnt="{{ genre.count }}">
            <div class="bar"> {{ genre.name }} ( {{ ((genre.count / count) * 100) |number_format(2) }} ) </div>
        </a>
    {% endfor %}
</div>
<a href="{{ path('homepage') }}">Return to index</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function updateStats() {
            var dataname = "cnt";
            $genres =  $(".top_genres");
            $('.top_genres').html($genres.html());
            var min = Math.min.apply(Math, $('.genre').map(function() { return parseFloat($(this).data(dataname)); } ));
            var max = Math.max.apply(Math, $('.genre').map(function() { return parseFloat($(this).data(dataname)); } ));
            $('.genre').sort(function(a, b) {
                return parseFloat($(b).data(dataname)) - parseFloat($(a).data(dataname));
            }).appendTo($('.top_genres')).each( function ()  {
                var pcent = ( parseFloat($(this).data(dataname)) - min ) / (max - min);
                $(this).find(".bar").attr('title', $(this).data(dataname)).css('width', ( pcent * 600 + 200 )+"px")
                    .css("background-color", 'rgb('+
                        parseInt( 255 - (pcent * 255) )+','+
                        parseInt( pcent * 255 )+','+
                        '0)'
                    );
            });
        }
        updateStats();
    </script>
{% endblock %}