<table>
{% for user in users %}
    <tr>
        <td><a href="{{ path('profile', {'id': user.id}) }}">{{ user.username }}</a></td>
        <td><a href="{{ path('user_stats', {'id': user.id}) }}">Stats</a></td>
        <td><a href="{{ path('user_listened', {'id': user.id}) }}">Listened</a></td>
        <td><a href="{{ path('user_genres', {'id': user.id}) }}">Genres</a></td>
    </tr>
{% endfor %}
</table>